* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: #cecece;
    background-color: #505050;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    width: 500px;
    height: 500px;
}

.square-box {
    background-color: #e4e4e4;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}